/*-----------------------------------------1) General--------------------------------------------------*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
html {
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Pangolin', cursive !important;
  height: 100%;
  width: 100%;
}
body {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 1.7;
  /*background-color: black;*/
}
a {
  color: #2f2f2f;
  text-decoration: none;
  transition: ease .6s;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -o-transition: ease .6s;
  -ms-transition: ease .6s;
}

/*----------------------------------------- 2) Preloader --------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: -40px 0 0 -100px;
}
#status img {
  text-align: center;
  margin-top: -80px;
}

/*----------------------------------------- 3) Home --------------------------------------------------*/
#section1 {
  background: url('../images/mtns1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;
}


.wrap-hero-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-content{
  position: absolute;
  text-align: center;
  min-width: 300px;
  left: 50%;
  top: 50%;
  padding: 65px;
  background: rgba(255, 255, 255, 0.8);/* background to box */
  outline: 4px double #FFFFFF;
  outline-offset: 8px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/*----- typed effect ---*/
.typed-cursor{ opacity: .25;}

/*----- text in hero ---*/
#keys{
  height:70px;
}

/*----------------------------------------- 4) Header - Navbar --------------------------------------------------*/
.navbar{
  border: none;
  border-radius: 0;
  background-color: inherit;
  font-size: 25px;
}

#bs-example-navbar-collapse-1{
  background-color: inherit;
  border: none;
  margin-bottom: 45px;
  /*float: right;*/
}

#icon-nav {
  float:right;
  margin-bottom: 300px;
}

/* center footer nav bar */
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

  /* Navbar Underline From Center */

  /* Navbar color/style */
  .navbar-default .navbar-nav>li>a{
    color: #e2c9e8;
  }

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: blue;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*----------------------------------------- 5) Section2 - About --------------------------------------------------*/

#section2 {
  background: url('../images/calm.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;*/
}

/*----------------------------------------- 6) Section3 - Resume --------------------------------------------------*/
/* --- First Slide --- */
#section3 {
  background: url('../images/yoga.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;*/
}
